@import "tailwindcss";

body {
  @apply bg-white text-gray-900 font-sans;
}

@keyframes scale-in {
  0% {
    transform: scale(0.8); /* Start smaller */
    opacity: 0; /* Start invisible */
  }
  100% {
    transform: scale(1); /* End at normal size */
    opacity: 1; /* Fully visible */
  }
}

.animate-scale-in {
  animation: scale-in 1.5s ease-out 1; /* Runs once, easing out */
}
